<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <!-- Include the Tailwind CSS CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
      /* CSS to style the curved edge */
      .curved-edge {
        border-radius: 1rem; /* Adjust the border-radius to control the curve */
        overflow: hidden;
      }
    </style>
  </head>
  <body
    class="bg-gradient-to-br from-blue-500 to-green-500 flex justify-center items-center h-screen"
  >
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 curved-edge">
      <h1 class="text-2xl font-bold mb-6 text-center">Let Him cook.</h1>
      {% if message %}
      <p class="text-red-500 mb-4">{{ message }}</p>
      {% endif %}
      <form action="/login" method="post">
        <div class="mb-4">
          <label for="username" class="block text-gray-700 font-bold mb-2"
            >Username:</label
          >
          <input
            type="text"
            id="username"
            name="username"
            required
            class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          />
        </div>
        <div class="mb-6">
          <label for="password" class="block text-gray-700 font-bold mb-2"
            >Password:</label
          >
          <input
            type="password"
            id="password"
            name="password"
            required
            class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          />
        </div>
        <div class="flex items-center justify-between">
          <input
            type="submit"
            value="Login"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          />
        </div>
      </form>
    </div>
  </body>
</html>
