<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customer Waiting Time Monitoring</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>

  <body class="bg-gray-100">
    <div class="container mx-auto mt-5">
      <h1 class="text-center mb-4 text-3xl font-bold">
        AI-based Customer Waiting Time Monitoring System
      </h1>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="card rounded-lg shadow-md">
          <div class="card-body">
            <img
              id="videoElement"
              src="{{ url_for('video_feed') }}"
              class="w-full h-auto"
              alt="Video Feed"
            />
          </div>
        </div>
        <div class="card rounded-lg shadow-md">
          <div class="card-body">
            <!-- <h2 class="text-center text-xl font-bold mb-4"> -->
            <!-- Customer Waiting Times -->
            <!-- </h2> -->
            <div class="overflow-x-auto">
              <table
                id="waitingTimesTable"
                class="table-auto w-full border-collapse border border-gray-300 rounded-md"
              >
                <thead>
                  <tr class="bg-gray-200">
                    <th class="px-4 py-2">Person</th>
                    <th class="px-4 py-2">Waiting Time</th>
                    <th class="px-4 py-2">Action</th>
                  </tr>
                </thead>
                <tbody id="waitingTimesBody">
                  <!-- Waiting times will be dynamically added here -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="card rounded-lg shadow-md">
          <div class="card-body">
            <h2 class="text-center text-xl font-bold mb-4">Settings</h2>
            <form id="settingsForm" class="space-y-4">
              <div>
                <label for="setTimeInput" class="block"
                  >Set Time (seconds)</label
                >
                <input
                  type="number"
                  class="w-full border-gray-300 rounded-md px-4 py-2"
                  id="setTimeInput"
                  value="{{ setTime }}"
                />
              </div>
              <button
                type="submit"
                class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
              >
                Save
              </button>
              <button
                id="stop-all-alarms-btn"
                class="w-full bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
              >
                Stop All Alarms
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script>
      // Your JavaScript code here

      function fetchWaitingTimes() {
        fetch("/waiting_times")
          .then((response) => response.json())
          .then((waitingTimes) => {
            const waitingTimesTable = document
              .getElementById("waitingTimesTable")
              .getElementsByTagName("tbody")[0];
            waitingTimesTable.innerHTML = "";
            for (const personId in waitingTimes) {
              const waitingTime = waitingTimes[personId];
              const row = waitingTimesTable.insertRow();
              row.innerHTML = `
    <td>${personId}</td>
    <td>${waitingTime}</td>
     <td>
         <button id="button-${personId}" class="btn btn-primary">Notify</button>
         <button id="stopButton-${personId}" class="btn btn-danger">Stop Alarm</button>
     </td>
`;

              const button = document.getElementById(`button-${personId}`);
              const stopButton = document.getElementById(
                `stopButton-${personId}`
              );
              if (waitingTime.includes("EXCEEDED")) {
                row.classList.add("bg-red-200"); // Add background color for exceeded waiting time
                button.classList.add("btn-disabled");
                button.disabled = true;
                stopButton.disabled = false;
              } else {
                row.classList.add("bg-green-200"); // Add background color for normal waiting time
                button.classList.remove("btn-disabled");
                button.disabled = false;
                stopButton.disabled = true;
              }
              button.addEventListener("click", () => {
                stopAlarmForPerson(personId);
              });
              stopButton.addEventListener("click", () => {
                stopAlarmForPerson(personId);
                stopButton.disabled = true;
                button.disabled = false;
              });
            }
          });
      }

      function stopAlarmForPerson(personId) {
        fetch(`/stop_alarm/${personId}`, {
          method: "POST",
        })
          .then((response) => {
            if (response.ok) {
              console.log(`Alarm stopped for person ${personId}`);
              const button = document.getElementById(`button-${personId}`);
              button.classList.add("btn-disabled");
              button.disabled = true;
              const stopButton = document.getElementById(
                `stopButton-${personId}`
              );
              stopButton.disabled = true;
            } else {
              console.error(`Failed to stop alarm for person ${personId}`);
            }
          })
          .catch((error) => {
            console.error(error);
            alert(`Failed to stop alarm for person ${personId}`);
          });
      }

      function saveSettings(event) {
        event.preventDefault();
        const setTime = document.getElementById("setTimeInput").value;
        fetch("/settings", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            setTime: setTime,
          }),
        })
          .then(() => {
            console.log("Settings saved");
            fetchWaitingTimes();
          })
          .catch((error) => {
            console.error(error);
            alert("Failed to save settings");
          });
      }

      document
        .getElementById("settingsForm")
        .addEventListener("submit", saveSettings);

      fetchWaitingTimes();
      setInterval(fetchWaitingTimes, 1000); // Fetch waiting times every second
    </script>
  </body>
</html>
